.pixel1 {
  background-color: yellowgreen;
  height: 14vh;
  width: 2000px;
}
.pixel2 {
  background-color: aqua;
  height: 14vh;
  width: 2000px;
}
.pixel3 {
  background-color: blue;
  height: 14vh;
  width: 2000px;
}
.pixel4 {
  background-color: black;
  height: 14vh;
  width: 2000px;
}
.pixel5 {
  background-color: green;
  height: 14vh;
  width: 2000px;
}
.pixel6 {
  background-color: gray;
  height: 14vh;
  width: 2000px;
}

.pixel7 {
  background-color: brown;
  height: 14vh;
  width: 2000px;
}

.pixel8 {
  background-color: blueviolet;
  height: 14vh;
  width: 2000px;
}
